<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directions</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'adm_lists/style.css' %}">

{% if dir_list %}

<div class="title2">
    <p2> Направления </p2>
</div>
<table class="list">
    <tr>
        {% for heading in headings %}
        <td>{{ heading }}</td>
        {% endfor %}
    </tr>
    {% for dir in dir_list %}
    <tr>
        {% for elem in dir %}
        <td>{{ elem }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no directions in database.</p>
{% endif %}
</body>
</html>