<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'adm_lists/style.css' %}">

{% if data %}
<div class="title1">
    <p> ЗАЯВЛЕНИЯ О ПОСТУПЛЕНИИ В СПбГУ </p>
    <p> Всего {{ data|length }} завялений </p>
</div>
<table class="subtitle">
    <tr>
        <td class="subtitle">
            <p><a href="{% url 'adm_lists:students'%}"> Список абитуриентов </a></p>
        </td>
        <td class="subtitle">
            <p><a href="{% url 'adm_lists:directions'%}"> Список направлений </a></p>
        </td>
    </tr>
</table>
<br><br><br>
<table class="list">
    <tr>
        {% for heading in headings %}
        <td>{{ heading }}</td>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for elem in row %}
        <td>{{ elem }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no admissions in database.</p>
{% endif %}
</body>
</html>