<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'adm_lists/style.css' %}">

{% if data %}
<p align="center"> Общее заявлений в СПбГУ – {{ data|length }} человек </p>
<table>
    <tr>
        {% for heading in headings %}
        <td>{{ heading }}</td>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for elem in row %}
        <td>{{ elem }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no students in database.</p>
{% endif %}
</body>
</html>