<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'adm_lists/style.css' %}">

{% if students_list %}
<p align="center"> Общее кол-во поступающих в СПбГУ – {{ students_list.count}} человек </p>
<table>
    <tr>
        <td> Full_name </td>
        <td> Sum </td>
        <td> Faculty </td>
        <td> Direction </td>
        <td> Program </td>
    </tr>
    {% for student in students_list %}
    <tr>
        <td>{{ student.full_name }}</td>
        <td>{{ student.exam_sum }}</td>
        <td>{{student.faculty}}</td>
        <td>{{student.direction}}</td>
        <td>{{student.program}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>There are no students in database.</p>
{% endif %}
</body>
</html>