body {
    background-color:#c2c2d6;
}

.title1 {
    text-align: center;

    border: 3px solid purple;
    padding: 30px;

    color: red;
    font-size: 20pt;
    font-weight: bold;
    font-family: Georgia;
}

.title2 {
    text-align: center;

    border: 3px solid green;
    padding: 30px;

    color: green;
    font-size: 20pt;
    font-weight: bold;
    font-family: Georgia;
}

.subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    border: 2px solid green;
    border-collapse: collapse;
    padding: 30px;

    color: green;
    font-size: 15pt;
    font-weight: bold;
    font-family: Georgia;
}


.list, td, th {
  margin-left: auto;
  margin-right: auto;

  border: 1px solid blue;
  border-collapse: collapse;
}